html {
	font-size: 62.5%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	text-align: justify;
	margin: 2.5rem 0;
	color: #006485;
	font-size: 1.6rem;
}

h1 {
	margin-top: 0;
}

header {
	background-color: DeepSkyBlue;
	color: white;
	font-size: 10vw;
	text-align: center;
	padding: 3rem 5%;
}

#navbar {
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*font-size: 2.5rem;*/
	font-size: 3rem;
}

#navbar nav a {
	margin: 0 1rem;
}

#cursor {
  border-right: .05em solid;
  animation: caret 0.2s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.logo {
	font-size: 7rem;
}

.logo-font {
	font-family: 'Yellowtail', cursive;
}

.type-font {
	font-family: 'Oxygen Mono', monospace;
}

#work-section {
	background-color: #FAFAFA;
}

#contact-section {
	background-color: #006485;
	color: white;
}

#contact-section p {
	color: white;
	margin-bottom: 0;
	text-align: left;
}

#contact-section a {
	font-weight: bold;
}

#kop-stop-banner {
	margin: auto;
}

.icons-div {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	font-size: 5rem;
}

.icons-div i {
	margin: 3rem 3rem 0 3rem;
}

.view-work-button-container {
	width: 100%;
	text-align: center;
	margin-top: 4rem;
}

.view-work-button {
	padding: 1rem 2rem;
	font-size: 2rem;
	color: white;
	background-color: DeepSkyBlue;
	border-radius: 999px;
	margin: 1rem;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.view-work-button:hover {
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

section {
	padding: 5rem 10%;
}

h1 {
	font-size: 3.5rem;
}