<!DOCTYPE html>
<html>
    <head>
        <title>{{ pages[page].title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {% block fonts %}{% endblock %}
        {% if page != "404" %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">{% endif %}
        
        <!-- build:css css/{{ pages[page].cssFile }}.min.css -->
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="{{ "css/" ~ pages[page].cssFile ~ ".css"}}">
        <!-- endbuild -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if pages[page].description %}<meta name="description" content="{{ pages[page].description }}">{% endif %}

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            <div>
                <h3 class="pc">Navigation</h3>
                <ul>
                    <li>
                        <a href="index.html#about">About</a>
                    </li>
                    <li>
                        <a href="index.html#work">Work</a>
                    </li>
                    <li>
                        <a href="index.html#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="pc">Get in touch</h3>
                <a href="mailto:hello@matthewocallaghan.uk">hello@matthewocallaghan.uk</a>
            </div>
            <div class="vertically-centre">
                <span class="logo-font pc">MO'C</span>
                <small>&copy; 2025 Matthew O'Callaghan</small>
            </div>
        </footer>
        {% block remoteScripts %}{% endblock %}

        <!-- build:js js/{{ pages[page].jsFilename }}.min.js -->
        <script type="text/javascript" src="js/nav-menu.js" defer></script>
        {% block scripts %}{% endblock %}
        <!-- endbuild -->
    </body>
</html>