{% macro iconsRow(icons) %}
<div class="icons-div">
{% for icon in icons %}
    <span title="{{ devicons[icon].title }}"><i class="devicon-{{ devicons[icon].class }} colored"></i></span>
{% endfor %}
</div>
{% endmacro %}