{% set page = "404" %}
{% extends "layout.njk" %}

{% block fonts %}
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&family=Yellowtail&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include "partials/navbar.njk" %}
{% endblock %}

{% block main %}
    <h1>404</h1>
    <div>
        <p>My website only has five pages<br/>and you've still managed to get lost!</p>
        <a href="index.html" class="button button-filled button-black button-text-white">Go to home page</a>
    </div>
{% endblock %}