{% set page = "index" %}
{% extends "layout.njk" %}

{% block fonts %}
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Open+Sans:wght@300&family=Permanent+Marker&family=Yellowtail&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <div id="header-background">
        <div id="header-background-image" class="bg-ti"></div>
        {% include "partials/navbar.njk" %}
        <div id="header-content">
            <div>
                <span class="header-greeting">Hi,</span><br>
                <span class="header-greeting">I'm Matthew!</span>
            </div>
        </div>
    </div>
    <div id="image-location" class="vertically-centre">London, United Kingdom</div>
{% endblock %}

{% block main %}
    <section id="about">
        <div class="section-title">
            <div class="title bg-pc">About</div>
        </div>
        <div class="container vertically-space-evenly">
            <h1 class="pc">Meet Matthew</h1>
            <p>
                I'm a Software Developer with strong frontend and backend experience and a passion for UX design. Until a recent working holiday in New Zealand where I contracted remotely, I spent over four years at <a href="https://videoloft.com" target="_blank">Videoloft</a>, a cloud provider for video surveillance systems. There, I rebuilt the web frontend from the ground up, consolidating multiple codebases into a single React application. As the company scaled, I later worked alongside other developers to maintain and extend this app, while also collaborating with the CPO and external design agencies to produce agreed specifications and translate them into functional user interfaces.
            </p>
            <p>
                I'm a details person who takes pride in delivering polished user experiences and writing clean, maintainable code, whilst balancing the pace of a startup environment.
            </p>
            <p>
                My personal projects include <a href="https://apps.apple.com/us/app/experimental-gravity/id1548302552">Experimental Gravity</a>, an iOS puzzle game built in Unity with C#, which is available on the App Store. I also design, develop and maintain the website of local business <a href="https://www.cakesbykatie.co.uk">Cakes by Katie</a>, which serves as their primary customer acquisition channel and has contributed significantly to their early success.
            </p>
            <p>
                In my academic studies, I graduated with a first-class degree in Computer Science from the University of Southampton, having achieved straight A*s at A-Level and GCSE. My latest project, <a href="https://www.atomicexams.co.uk">Atomic Exams</a>, is a Next.js web app designed to help GCSE and A-Level students study more strategically.
            </p>
            <p>
                <a href="cv.pdf">Please view my CV here.</a>
            </p>
            {% from "macros/devicons.njk" import iconsRow with context %}
            {{ iconsRow(["html", "css", "js", "typescript", "c#", "java", "node", "react", "next", "jest", "express", "astro", "gulp", "sass", "tailwind", "figma", "jquery", "bootstrap", "postgres", "redux", "aws", "heroku", "haskell", "angularJs", "inkscape"]) }}
        </div>
    </section>
    <section id="work">
        <div class="section-title">
            <div class="title bg-pc">Work</div>
        </div>
        <div class="container">
            <h1 class="pc">Some of my personal projects&nbsp;...</h1>
            <div id="work-list">
                {% for workItem in work %}
                {% set even = loop.index % 2 == 0 %} {# Design of work items alternates #}
                <article class="work-item{{ " bg-pc" if even }}">
                    <div class="work-item-details">
                        <h2>{{ workItem.title }}</h2>
                        <p>
                            {{ workItem.description }}
                        </p>
                    </div>
                    <div class="work-item-extra">
                        <figure><img src="{{ workItem.image.src }}" width="auto" height="auto" alt="{{ workItem.image.alt }}"></figure>
                        <div class="link-list">
                            <a href="{{ workItem.websiteURL }}" class="button button-filled {{ "button-black bg-pc-hover pc" if even else "button-text-white bg-pc bc-pc pc-hover" }}" target="_blank">View&nbsp;website</a>
                            <a href="{{ workItem.page }}" class="button button-ghost {{ "button-black pc-hover" if even else "pc bc-pc bg-pc-hover" }}">Read&nbsp;more</a>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>	
        </div>
    </section>
    <section id="contact">
        <div class="section-title">
            <div class="title bg-pc">Contact</div>
        </div>
        <div class="container vertically-space-between">
            <h1 class="pc">Contact me</h1>
            <p>Want to get in touch?</p>
            <p>Then I look forward to hearing from you at <a href="mailto:hello@matthewocallaghan.uk">hello@matthewocallaghan.uk</a>!</p>
            <span class="logo-font pc">MO'C</span>
        </div>
    </section>
{% endblock %}

{% block remoteScripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="js/theme.js" defer></script>
	<script type="text/javascript" src="js/smooth-scrolling.js" defer></script>
	<script type="text/javascript" src="js/in-view.js" defer></script>
	<script type="text/javascript" src="js/work-item-order.js" defer></script>
{% endblock %}