{% set page = "index" %}
{% extends "layout.njk" %}

{% block fonts %}
<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Open+Sans:wght@300&family=Permanent+Marker&family=Yellowtail&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <div id="header-background">
        <div id="header-background-image" class="bg-ti"></div>
        {% include "partials/navbar.njk" %}
        <div id="header-content">
            <div>
                <span class="header-greeting">Hi,</span><br>
                <span class="header-greeting">I'm Matthew!</span>
            </div>
        </div>
    </div>
    <div id="image-location" class="vertically-centre">London, United Kingdom</div>
{% endblock %}

{% block main %}
    <section id="about">
        <div class="section-title">
            <div class="title bg-pc">About</div>
        </div>
        <div class="container vertically-space-evenly">
            <h1 class="pc">Meet Matthew</h1>
            <p>
                I'm a Software Developer with strong frontend and backend experience and a passion for UX design. Before spending the first half of 2025 on a working holiday in New Zealand, I worked for over four years at <a href="https://videoloft.com" target="_blank">Videoloft</a>, a cloud provider for video surveillance systems, where I transformed the web frontend by consolidating codebases into a single React application which I built from scratch. As the business grew, I later worked alongside other developers in maintaining this web app, as well as collaborated with the CPO and external design agencies to produce agreed specifications and translate them into functional user interfaces.
            </p>
            <p>
                I'm a details person who takes pride in producing quality user experiences and writing clean, reusable code, whilst balancing the need to work urgently at a startup.
            </p>
            <p>
                Whilst web development is my biggest passion, I also have experience with game development and released my first mobile game, <a href="https://www.experimentalgravity.com" target="_blank">Experimental Gravity</a>, on iOS in March 2021. Experimental Gravity is a physics-based puzzle game that puts the player in control of gravity. I had completed several projects previously (some of which are described below), but this was my first experience of building a complete product and I thoroughly enjoyed taking it from an idea all the way to market. Whilst the majority of my time was spent developing the game using Unity and C#, this project allowed me to employ and experience a wide range of skills, including designing game art, producing app previews and trailers, and beta testing through Apple's TestFlight.
            </p>
            <p>
                In 2020, I graduated with a first-class degree in Computer Science from the University of Southampton. My third year university project, <a href="http://rocketleagueanalytics.herokuapp.com" target="_blank">Rocket League Analytics</a>, provides in-game analytics, match history, and statistics tracking to Rocket League players, all with only an image of the match scoreboard.  This is the biggest personal web project I have undertaken and combines a frontend React app, including Redux and React Router, and backend Node.js server, which uses Google Cloud Vision API and Firebase Authentication amongst other technologies.
            </p>
            <p>
                <a href="cv.pdf">Please view my CV here.</a>
            </p>
            {% from "macros/devicons.njk" import iconsRow with context %}
            {{ iconsRow(["html", "css", "js", "typescript", "c#", "java", "node", "react", "next", "jest", "express", "gulp", "sass", "tailwind", "figma", "jquery", "bootstrap", "postgres", "redux", "aws", "heroku", "haskell", "angularJs", "inkscape"]) }}
        </div>
    </section>
    <section id="work">
        <div class="section-title">
            <div class="title bg-pc">Work</div>
        </div>
        <div class="container">
            <h1 class="pc">Some of my personal projects&nbsp;...</h1>
            <div id="work-list">
                {% for workItem in work %}
                {% set even = loop.index % 2 == 0 %} {# Design of work items alternates #}
                <article class="work-item{{ " bg-pc" if even }}">
                    <div class="work-item-details">
                        <h2>{{ workItem.title }}</h2>
                        <p>
                            {{ workItem.description }}
                        </p>
                    </div>
                    <div class="work-item-extra">
                        <figure><img src="{{ workItem.image.src }}" width="auto" height="auto" alt="{{ workItem.image.alt }}"></figure>
                        <div class="link-list">
                            <a href="{{ workItem.websiteURL }}" class="button button-filled {{ "button-black bg-pc-hover pc" if even else "button-text-white bg-pc bc-pc pc-hover" }}" target="_blank">View&nbsp;website</a>
                            <a href="{{ workItem.page }}" class="button button-ghost {{ "button-black pc-hover" if even else "pc bc-pc bg-pc-hover" }}">Read&nbsp;more</a>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>	
        </div>
    </section>
    <section id="contact">
        <div class="section-title">
            <div class="title bg-pc">Contact</div>
        </div>
        <div class="container vertically-space-between">
            <h1 class="pc">Contact me</h1>
            <p>Want to get in touch?</p>
            <p>Then I look forward to hearing from you at <a href="mailto:hello@matthewocallaghan.uk">hello@matthewocallaghan.uk</a>!</p>
            <span class="logo-font pc">MO'C</span>
        </div>
    </section>
{% endblock %}

{% block remoteScripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="js/theme.js" defer></script>
	<script type="text/javascript" src="js/smooth-scrolling.js" defer></script>
	<script type="text/javascript" src="js/in-view.js" defer></script>
	<script type="text/javascript" src="js/work-item-order.js" defer></script>
{% endblock %}