{% macro navbar(index=false) %}
    <div id="navbar">
        <span class="logo logo-font pc">MO'C</span>
        <button id="nav-toggle" class="outline-pc" type="button" aria-label="Toggle menu">
            <div id="hamburger">
                <span class="bg-pc"></span>
                <span class="bg-pc"></span>
                <span class="bg-pc"></span>
            </div>
            <div id="cross">
                <span class="bg-pc"></span>
                <span class="bg-pc"></span>
            </div>
        </button>
        <nav {% if index %}class="landing"{% endif %}>
            <a href="{{ "#about" if index else "index.html#about" }}" {% if index %}class="pc smooth-scroll"{% endif %}>About</a>
            <a href="{{ "#work" if index else "index.html#work" }}" {% if index %}class="pc smooth-scroll"{% endif %}>Work</a>
            <a href="{{ "#contact" if index else "index.html#contact" }}" {% if index %}class="pc smooth-scroll"{% endif %}>Contact</a>
        </nav>
    </div>
{% endmacro %}