header {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center; }

header h1 {
  color: white;
  padding: 0 5%; }

section {
  padding: 20px 5%; }

figure {
  margin: 0;
  padding: 0; }

#particles-js {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute; }

#particles-js canvas {
  height: 100%; }

section#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

section#intro > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 0 5%;
  flex-grow: 1;
  min-width: 300px; }

section#intro p {
  font-weight: 700;
  text-align: center; }

section#intro figure {
  max-width: 400px;
  max-height: 300px; }
  section#intro figure img {
    max-width: 100%;
    max-height: 300px;
    margin: auto;
    display: block; }

section#intro a {
  margin-top: 40px; }

section#details {
  background-image: url("../images/backgrounds/brick-wall.png"); }

section#screenshots {
  background-color: #fbf7f5; }
  section#screenshots figure, section#screenshots video, section#screenshots iframe {
    max-width: Min(1050px, 100%);
    margin: 30px auto;
    display: block; }

@media only screen and (max-width: 700px) {
  section#intro p {
    margin-top: 0; } }

@media only screen and (min-width: 700px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px; }
  section#intro p {
    font-size: 200%; } }
